.not-found{
    margin-top: 100px;
    margin-bottom: 150px;
}

.not-found{
    color: rgb(53,53,53);
}

.not-found h1{
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 10px;
}

.not-found h3{
    font-size: 30px;
}