.home-banner{
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url('../../images/img-2.jpg');
    background-size: cover;
    height: 460px;
}

.home-text{
    position: relative;
    top: 110px;
}

.home-text h4{
    font-size: 50px;
    font-weight: bolder;
    color: black;
}

.home-text h5{
    color: darkblue;
    font-weight: bolder;
    font-size: 34px;
    margin-top: 35px;
}

.home-text h6{
    font-weight: bolder;
    font-size: 28px;
    margin-top: 30px;
}

.courses{
    margin-bottom: 45px;
}