.footer{
    background-color: rgb(12,75,101);
    padding: 10px 0px;
    margin-top: 10px;
    margin-bottom: 0;
}
.footer h6{
    margin-top: 45px;
    font-size: 20px;
    color:white;
    margin-bottom: 15px;
}
.footer p{
    margin-bottom: 40px;
    color: white;
    margin-top:10px;
}
.footer i{
    font-size: 20px;
    background-color: #ddd;
    padding: 10px;
    margin: 10px;
    border-radius:50% ;
}